

/* This property is for the first column in the products page */
.mini {
float: left;
display: grid;
grid-template-rows:(3, 1fr 1fr);

}

/* This property is for the second column in the products page */
.info {
  float: right; 
  
  

}

.item {
font-size: 42px;
}


/* This propery is for the Add to Bag  Button in the third column  in the products page */
 .add {
   text-align: center;
    margin: 10px 10px;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
    border-radius: 25px;
    background-color: black; 
    color: #fff;
    font-weight: Bold;
  
}  




/* This property is for the three small images lined up together in the product page */
.skirt {
  width: 60%;
}



/* This is for the big image in the product page  */
.fun {
  width: 80%
}

.red {
  margin-top: 30px;
}



/* This is for the fourth image in column one.... I decided not to use it because it can't be maninpulated like the other three images */

/* .play{
  width: 10%;
 } */

/* Thisproperty is for making the font bold on Description and Quanity in the product page */
.Bold {
   font-weight: Bold;
  }

  
  /* This is for the four smaller images on the landing page */
  .variety {
    width: 40%;
    float: right; 
    margin-top: 30px;
    margin-left: 30px 
     

 }

  /* This is for the create a grid with the four smaller images on the landing page */
 /* .stuff {

   margin-top: 10px;
  margin-left: 50px; 
 
/* This proprty is for the second two smaller photos watch and backpack  */

  
  /* This is for the large image on the landing page  */

  .Blonde {
    width: 85%;
    float: left;
    margin: 30px

  }

 

/* This is the property for the first list on the bag page  */
 
 .firstL{
    list-style:none;
    
  
    
 }

/* This is the property for the list on the second list on the  bag page  */
 .secondL{
  list-style:none;
  float:right;
}

/* This is the property for the Horizontal spacing in the between the rows. Excluding the first <li>  in the list in column three on the bag page.  */
.top {
  margin-top: 40px;
}

/* This is the property for the margin on the first row in column three on the bag page. */
.margin{
  margin-top: 50px;
}
 
/* This is the property for the vertical  spacing between the columns in column three on the bag page.  */
.next {
display: flex;
justify-content: space-between;
}

/* This is the property for the checkout button at the bottom of column three */
.checkout {
text-align: center;
place-items: center;
 margin: 30px 10px;
 font-size: 16px;
 padding-left: 110px;
 padding-right: 110px;
 line-height: 20px;
 border-radius: 25px;
 background-color: black; 
 color: #fff;
 font-weight: Bold;
} 




/* This is the property for the watch  image in column one  */
.watch{
  width: 80%;
  margin-top: 10px;

}

/* This is the property for the bag image in column two */
.bag{
  width: 80%;
  margin-top: 30%
  
}



/* This is the property for the shopping bag text */
 .shop {
  margin-top:10%;
  font-size: 30px;

} 

/* This is the propert for the shopping summary text */
.order {
  margin-top:10%;
  font-size: 30px;

} 


.close {
  margin-top: 40px;
}